* {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, p, a, button, td, th, textarea, div {
    font-family: 'Helvetica Neue', serif;
    font-style: normal;
}

input:focus {
    outline: none;
    border-width: 3px;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F9E8AD 0%, #EACE76 13.54%, #EACE76 86.46%, #7A5420 100%);
}

button:active {
    background: linear-gradient(180deg, #FCDA63 0%, #DDB844 13.54%, #DDB844 86.46%, #8A5E21 100%);
    border: 2px solid #C09D54;;
}

.container, .modals {
    width: 100%;
    height: 100%;
}

.inner-container {
    margin: auto;
    max-width: 1920px;
}
.shah-header_container, .shah-registration_inner {
    padding-left: 10%;
}

.shah-header_container {
    padding-right: 10%;
}

.shah-registration_block {
    background-image: url("images/fabric_top 1.png"), url("images/fabric_bottom 1.png");
    padding: 5px 5px 0 5px;
    background-color: #470400;
    background-repeat: no-repeat;
    background-size: 50%, 50%;
    background-position: left top, right bottom;
}

.shah-registration_inner {
    padding-right: 5%;
}

.header-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #470400;
    z-index: 59;
}

.header-block > * {
    margin: 5px 2%;
    color: #D8B47D;
    height: 40px;
}

.routes {
    text-decoration-line: none;
}

.header-registrationBtn, .body-registrationBtn {
    background: linear-gradient(180deg, #F9E8AD 0%, #EACE76 13.54%, #EACE76 86.46%, #7A5420 100%);
    border-radius: 6px;
    border: none;
}

.header-registrationBtn {
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 15px;
    color: #2B0100;
}

.logoutBtn. #select-text, #select-text-mobile, #select-text-sidebar {
    color: #D8B47D;
}

#select-text, #select-text-mobile, #select-text-sidebar {
    margin: 4px 2px 6px 6px;
}

.logout-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exit-icon {
    width: 25px;
    height: 25px;
    background: url("images/exit_icon.svg") no-repeat center;
    background-size: 25px;
}

.shah-registration_inner {
    display: flex;
    flex-direction: row;
}

.shah-registration-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 100px 0;
}

.magnum-logo {
    width: 100%;
    height: 60px;
    background: url("images/magnum-logo.svg") no-repeat center;
    background-size: 50%;
}

.registration-text {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: #D8B47D;
}

.shah-regImage {
    width: 60%;
    height: 650px;
    background: url("images/hand-prize.png") no-repeat center;
    background-size: 650px;
}

.body-registrationBtn {
    width: 80%;
    height: 60px;
    margin: 0 10%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    color: #2B0100;
}

.registration-info_text {
    font-size: 25px;
    text-align: center;
    color: #D8B47D;
}

.logoutBtn {
    margin-right: 10px;
}

.lang-selecter_block {
    position: relative;
}

.lang-selecter {
    width: 45px;
    height: 30px;
    position: absolute;
    cursor: pointer;
}

.select-input {
    display: none;
    cursor: pointer;
    width: 45px;
    text-align: center;
    font-size: 16px;
    background-color: #D8B47D;
    border: none;
    color: #2F0200;
    position: relative;
    top: 35px;
}

.select-input:hover {
    background-color: #8A5E21;
}

.selecter-cover {
    position: relative;
    width: 45px;
    height: 30px;
    border: 1px solid #D8B47D;
    box-sizing: border-box;
    border-radius: 6px;
}

.shah-criterias_block {
    position: relative;
    z-index: 2;
    padding: 5px;
    background-color: #2A0202;
    box-shadow: 0px 0px 24px 18px rgba(0, 0, 0, 0.4);
}

.shah-criterias_inner {
    width: 100%;
    height: 500px;
    background: url("images/criterias-bg.png") no-repeat center;
    background-size: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #D8B47D;
}

.criteria-registrationBtn {
    background: linear-gradient(180deg, #F9E8AD 0%, #EACE76 13.54%, #EACE76 86.46%, #7A5420 100%);
    border-radius: 8px;
    border: none;
    color: #2B0100;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
}

.criteria_steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.criteria_step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criteria_steps > *:first-child {
    margin-left: 0;
}

.criteria_steps > * {
    margin-right: 5%;
    margin-left: 5%;
}

.criteria_steps > *:last-child {
    margin-right: 0;
}

.criteria-image {
    width: 200px;
    height: 230px;
}

.first {
    background: url("images/step-1.svg") no-repeat center;
    background-size: 100%;
}

.second {
    background: url("images/step-2.svg") no-repeat center;
    background-size: 100%;
}

.third {
    background: url("images/step-3.svg") no-repeat center;
    background-size: 100%;
}

.criteria-step_text {
    color: #D8B47D;
    text-align: center;
    font-size: 24px;
}

.criteria-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 11%;
    margin-right: 11%;
}

.criteria-info_text {
    color: #D8B47D;
}

a.criteria-info_text {
    font-weight: bold;
    text-decoration-line: underline;
}

.shah-awards_block {
    background-color: #2F0200;
}

.awards-inner {
    width: 100%;
    background: url("images/fabric_top 2.png") no-repeat left top, url("images/fabric_bottom 2.png") no-repeat right bottom;
    padding-top: 25px;
}

.prize-list {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.prize-item {
    width: 30%;
}

.prize-image {
    height: 360px;
}

.prize-text {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #D8B47D;
    margin: 0;
}

.first-image {
    background: url("images/prize01.png") no-repeat 0 -50px;
    background-size: 100%;
    /*300px media*/
}

.second-image {
    background: url("images/prize02.png") no-repeat 0 -50px;
    background-size: 100%;
    /*300px media*/
}

.third-image {
    background: url("images/prize03.png") no-repeat 0 -70px;
    background-size: 100%;
    /*300px media*/
}

.prize-qn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.prize-name {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #D8B47D;
}

.quantity-bg {
    width: 70px;
    height: 40px;
    background: url("images/golden_label 1.png") no-repeat center;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quantity-text {
    font-size: 32px;
    margin: 0;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #2B0100;
}

.shah-winners_block {
    position: relative;
    z-index: 2;
    background-color: #2A0202;
    box-shadow: 0px 0px 24px 18px rgba(0, 0, 0, 0.4);
}

.winners-inner {
    width: 100%;
    max-height: 2000px;
    background: url("images/winners_bg2.png") no-repeat center;
    background-size: 100%;
    padding-top: 25px;
}

.winners-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 300px;
    background: url("images/winners_bg1.png") no-repeat 0 0 ;
    background-size: 100%;
}

.winner-info_block {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 40px;
}
.gold {
    width: 200px;
    height: 140px;
    background: url("images/winners_gold 1.png") no-repeat center;
    background-size: 100%;
    margin-right: 50px;
}

.info-text {
    font-weight: 400;
    font-size: 26px;
    color: #D8B47D;
}

.prev-prize_block {
    margin: 0 auto;
    width: 60%;
}

.tab-selectors {
    display: flex;
    flex-direction: row;
}

.day-to-day_prizes, .week-to-week_prizes {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    width: 47.5%;
    color: #D8B47D;
}

.day-to-day_prizes {
    margin-right: 15px;
}

.table-inner {
    position: relative;
    top: -100px;
}

.table-headers, .table-datas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin-left: 5%;
    position: relative;
    background: linear-gradient(#2A0202 100%, transparent 00%);
    left: -40px;
}

.prize-data_headerText, .prize-data {
    width: 30%;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #D8B47D;
}

.prize-data_headerText {
    font-size: 18px;
}

.prize-data {
    font-size: 12px;
}

.break-lines, .break-lines_header, .break-lines_underTab {
    position: relative;
    z-index: 2;
}

.break-lines_header {
    top: -80px;
}
.break-lines_underTab {
    left: -25px;
    top: -78px;
}

.table-data_block {
    display: flex;
    flex-direction: column;
}

.winners-pagination_block {
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -80px;
}

.winners-pagination_inner, .previous-arrows_block, .next-arrows_block, .pagination-Num {
    display: flex;
    flex-direction: row;
}

.winners-pagination_inner {
    align-items: center;
}

.toFirst, .toPrev, .toNext, .toLast {
    width: 25px;
    height: 25px;
}

.toFirst {
    background: url("images/first.svg") no-repeat center;
    background-size: 25px;
}

.toPrev {
    background: url("images/prev.svg") no-repeat center;
    background-size: 15px;
}

.toNext {
    background: url("images/next.svg") no-repeat center;
    background-size: 15px;
}

.toLast {
    background: url("images/last.svg") no-repeat center;
    background-size: 25px;
}

.pagination-Num > * {
    margin-right: 10px;
    margin-left: 10px;
}

.pagination-text {
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;

    color: #D8B47D;
}

.pagination-text:hover {
    font-weight: 500;
}

.shah-qna_block {
    padding: 5px;
    background: url("images/fabric_top 1.png") no-repeat left top, url("images/faq_bg_bottom 1.png") no-repeat right;
    background-color: #2F0200;
}

.shah-qna_inner {
    width: 60%;
    margin: 0 auto;
}

.qna-title {
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    text-transform: uppercase;

    color: #D8B47D;
}

.qna-content {
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-align: center;

    color: #D8B47D;
}

.qna-form_block {
    padding: 10px;
}

.qna-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input, .form-textarea {
    border: 2px solid #D8B47D;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 400;
    padding-left: 10px;
    font-size: 14px;
    color: #D8B47D;
    background-color: transparent;
}

.form-input:first-child {
    margin-left: 0;
}

.form-input {
    width: 32%;
    height: 35px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 20px;
}

.form-input::placeholder, .form-textarea::placeholder {
    color: #D8B47D;
}

.form-textarea {
    width: 100%;
    height: 150px;
    padding-top: 10px;
}

.submitBtn {
    width: 210px;
    height: 40px;
    background-color: #D8B47D;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #2B0100;
    margin: 20px auto auto;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-arr {
    width: 25px;
    height: 25px;
    background: url("images/next.svg") no-repeat center;
    background-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

.qna-item_text {
    font-weight: 400;
    font-size: 22px;

    color: #D8B47D;
}

.hidd-answer {
    display: none;
    font-weight: 400;
    font-size: 16px;
    /* or 133% */
    margin: 0;
    color: #D8B47D;
}

.shah-footer_container {
    background-color: #2A0202;
    padding: 10px;
    box-shadow: 0 0 24px 18px rgba(0, 0, 0, 0.4);
}

.footer-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin: 11px 0;
    color: #D8B47D;
}

.day-prize_text:hover, .week-prize_text:hover {
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
}

/* modals */

.modals {
    max-width: 1920px;
    margin: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: rgba(42, 2, 2, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-modal, .recovery-modal, .passwordNew-modal, .authPassword-modal, .registration-modal, .registrationSuccess-modal, .recoverySent-modal, .questionSent-modal, .telephoneUsed-modal, .registrationRequired-modal {
    padding: 10px;
    width: 400px;
    background: url("images/fabric_top 1.png") no-repeat left top, url("images/fabric_bottom 1.png") no-repeat right bottom;
    background-color: #4C0503;
    margin: auto auto;
    box-shadow: 0 4px 21px 18px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    background-size: 100%, 100%;
}

.modals, .recovery-modal, .authorization-modal, .passwordNew-modal, .authPassword-modal, .registrationSuccess-modal, .recoverySent-modal, .questionSent-modal, .registration-modal, .telephoneUsed-modal, .registrationRequired-modal {
    /* block on login and so on */
    display: none;
}

.authorization_inner, .recovery_inner, .passwordNew_inner, .authPassword_inner, .registration_inner, .registrationSuccess_inner, .recoverySent_inner, .questionSent_inner, .telephoneUsed_inner, .registrationRequired-modal {
    padding: 20px;
}

.registrationSuccess-modal, .registrationSuccess_inner {
    padding-bottom: 0;
}

.registration-modal {
    overflow-y: scroll;
}

.registration-modal::-webkit-scrollbar {
    display: none;
}

.authorization-form, .registrationSuccess-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-title, .reg-title, .auth-title_success {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin: 10px 0;
    color: #D8B47D;
}

.auth-title_success {
    font-size: 24px;
}

.auth-inputs {
    width: 100%;
}

.auth-input {
    width: 100%;
    height: 40px;
    border: 2px solid #D8B47D;
    padding-left: 10px;
    background: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #D8B47D;
}

.auth-input::placeholder {
    color: #D8B47D;
}

.modalButton, .agreementBtn {
    width: 200px;
    height: 40px;
    font-weight: 700;
    font-size: 21px;
    background-color: #D8B47D;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    color: #2B0100;
    border-radius: 6px;
}

.agreementBtn {
    margin-top: 20px;
    width: 100px;
}

.modalButton:hover, .agreementBtn:hover {
    background-color: #C4954E;
}

.registerSuccess {
    background: linear-gradient(180deg, #F9E8AD 0%, #EACE76 13.54%, #EACE76 86.46%, #7A5420 100%);
    border-radius: 8px;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #2B0100;
}

.line-break {
    margin-bottom: 10px;
    margin-top: 10px;
}

.forgetBtn {
    position: relative;
    top: -42px;
    left: 70%;
    font-weight: 700;
    font-size: 18px;
    text-align: right;

    color: #D8B47D;
    text-decoration-line: underline;
}

.forgetBtn:hover {
    color: #C4954E;
}

.auth-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #D8B47D;
}

.registerBtn {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
}

.login, .registerLogin {
    color: #D8B47D;
    border: 2px solid #D8B47D;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.login:hover, .registerLogin:hover {
    background-color: #D8B47D;
}

.registerLogin {
    width: 50%;
}

.register {
    background-color: #D8B47D;
    color: #2B0100;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.register:hover, .passwordBtn:hover {
    background-color: #C4954E;
}

.cross-close, .cross-close-mobile {
    cursor: pointer;
    width: 100%;
    height: 20px;
    background: url("images/close_btn.svg") no-repeat right;
    background-size: 20px;
}

.recovery-form, .passwordNew-form, .authPassword-form, .recoverySent-form, .questionSent-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    padding-left: 20px;
    padding-right: 15px;
}

.recovery-form input, .recovery-form button, .passwordNew-form input, .passwordNew-form button {
    margin-bottom: 30px;
}

.passwordNew-form input {
    margin-top: 20px;
}

.modal-text_info {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    color: #D8B47D;
}

.telephoneUsed-text {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}

.regRequire-text {
    font-size: 20px;
    margin-bottom: 40px;
}

.passwordBtn {
    width: 280px;
    height: 50px;
}

.telephoneUsedBtn {
    width: 100%;
}

.authPasswordBtn {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.location-select_cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location-cover {
    width: 100%;
    height: 40px;
    border: 2px solid #D8B47D;
    padding-left: 10px;
    padding-top: 5px;
    background: transparent;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #D8B47D;
}

.dropdown-select {
    width: 40px;
    height: 40px;
    border: 2px solid #D8B47D;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
    background-color: #D8B47D;
    background-size: 20px;
}

.dropdown-select-arrow {
    width: 100%;
    height: 100%;
    background: url("images/dropdown-active-arrow.svg") no-repeat center;
    background-size: 20px;
}

.location-select {
    width: 100%;
    display: none;
    height: 40px;
    /*display: flex;*/
    top: -12px;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.location-input {
    background-color: #D8B47D;
    appearance: none;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    padding-left: 10px;
    color: #2F0200;
}

.location-input:hover {
    font-weight: 600;
}

.warning-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #D8B47D;
}

.warning-info strong {
    text-decoration-line: underline;
}

.registrationSuccess-note {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;

    color: #D8B47D;
}

.chai-bg {
    width: 100%;
    height: 285px;
    background: url("images/hand_with_prizes 2.png") no-repeat 0 -55px;
}

.mobile, .mobile-svg, .mobile-sidebar {
    display: none;
}

.sidebar-icon {
    display: none;
    width: 50px;
    height: 50px;
    background: url("images/sdidebar-icon.svg") no-repeat center;
    background-size: 40px;
}

.sidebar-mobile {
    display: none;
    padding: 5px;
}

.sidebar-mobile_inner {
    width: 95%;
    position: fixed;
    background-color: #470400;
    height: 100%;
    z-index: 99;
    top: 0;
    max-height: 800px;
}

.sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    margin-top: 25px;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    height: 70%;
}

.sidebar-body > *:not(:first-child) {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #D8B47D;
}

.cross-close-mobile {
    background-position: left;
}

.week {
    display: none;
}

.active-route {
    font-weight: bold;
}

@media (max-width: 1860px) {
    .break-lines_underTab {
        left: -17px;
        top: -75px;
    }
}

@media (max-width: 1440px) {
    .prize-image {
        height: 260px;
    }
}

@media (max-width: 1240px) {
    .registration-text {
        font-size: 26px;
    }
    .registration-info_text {
        font-size: 20px;
    }
    .body-registrationBtn {
        font-size: 20px;
    }
    .header-registrationBtn {

    }
}

@media (max-width: 425px) {
    .header-block {
        display: none;
    }

    .authorization-modal, .recovery-modal, .passwordNew-modal, .authPassword-modal, .registration-modal, .registrationSuccess-modal, .recoverySent-modal, .questionSent-modal, .telephoneUsed-modal, .registrationRequired-modal {
        width: 90%;
    }

    .authorization_inner, .recovery_inner, .passwordNew_inner, .authPassword_inner, .registration_inner, .registrationSuccess_inner, .recoverySent_inner, .questionSent_inner, .telephoneUsed_inner, .registrationRequired_inner {
        padding: 5px;
    }

    .login, .registerLogin {
        margin-bottom: 25px;
    }

    .passwordBtn {
        width: 70%;
        height: 35px;
    }

    .modalButton {
        font-size: 16px;
    }

    .recovery-form, .passwordNew-form, .authPassword-form, .recoverySent-form, .questionSent-form {
        margin: 0;
        padding: 0;
    }

    .shah-header_container {
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 50px;
    }

    .mobile-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #470400;
        left: 0;
        right: 0;
        top: 0;
        padding: 0 30px;
        z-index: 59;
    }

    .lang-selecter {
        top: 15px;
    }

    #select-text, #select-text-mobile, #select-text-sidebar {
        color: #D8B47D;
    }

    .select-input {
        top: 15px;
    }

    .sidebar-icon {
        display: block;
    }

    .shah-registration_inner {
        padding-left: 0;
        flex-direction: column;
    }

    .shah-registration-info {
        width: 100%;
        margin: 0;
    }

    .shah-regImage {
        width: 100%;
        height: 400px;
        background-size: 450px;
        background-position: -75px -75px;
    }

    .shah-criterias_inner {
        height: unset;
    }

    .criteria_steps {
        flex-direction: column;
    }

    .criteria-infos {
        justify-content: center;
    }

    .criteria-info_text {
        font-size: 18px;
    }

    .criteria-infos > *:first-child {
        display: none;
    }

    .mobile {
        display: block;
    }

    .registration-criteria_block {
        display: flex;
        flex-direction: column;
        align-items:  center;
    }

    .criteria_steps > * {
        margin: 0;
    }

    .criteria_steps > *:nth-child(2) {
        background: url("images/mech_bg 1.png") no-repeat center;
        background-size: 100%;
    }

    .criteria_step {
        background: url("images/criterias-bg_mobile.png") no-repeat center;
        background-size: 125%;
    }

    .criteria-registrationBtn {
        width: 100%;
    }

    .prize-item {
        width: 100%;
        display: none;
    }

    .active {
        display: block;
    }

    .shah-awards_block {
        background: url("images/fabric_top 2.png") no-repeat top right, url("images/fabric_bottom 2.png") no-repeat bottom left;
        background-color: #2F0200;
        background-size: 100%, 100%;
    }

    .winner-info_block {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .winners-header {
        width: 100%;
        background: url("images/winners_bg1.png") no-repeat -100px 0;
        background-size: 1000px;
    }

    .info-text {
        text-align: center;
    }

    .prev-prize_block {
        width: 100%;
        margin: 0;
    }

    .table-headers, .table-datas {
        position: unset;
        width: 100%;
        margin-left: 0;
        left: unset;
        align-items: center;
    }

    .prize-data_headerText {
        font-size: 16px;
    }

    .table-headers > *:last-child, .table-datas > *:last-child {
        display: none;
    }

    .prev-prize_block {
        position: relative;
        top: 50px;
    }

    .desktop-svg {
        display: none;
    }

    .mobile-svg {
        display: block;
    }

    .break-lines_underTab {
        top: -85px;
    }

    .winners-inner {
        max-height: 875px;
    }

    .winners-pagination_block {
        position: unset;
    }

    .shah-qna_inner {
        width: unset;
        margin: 0;
    }

    .qna-title {
        font-weight: 400;
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .qna-content {
        font-size: 17px;
        line-height: 26px;
        margin: 0;
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
    }

    .shah-qna_block {
        background: url("images/fabric_top 1.png") no-repeat left top;
        background-color: #2F0200;
        background-size: 100%;
    }

    .form-input, .form-input:first-child, .form-textarea {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .form-input::placeholder, .form-textarea::placeholder {
        font-size: 18px;
    }

    .form-input, .form-input:first-child {
        height: 40px;
    }

    .qna-list_inner {
        background: url("images/faq_bg_bottom 1.png") no-repeat left bottom;
        background-size: 100%;
    }

    .qna-list_inner > *:nth-child(2) {
        margin-bottom: 15px;
    }

    .qna-item_text {
        font-size: 18px;
    }

    .dropdown-arr {
        position: relative;
    }

    .footer-text {
        font-size: 26px;
    }

}

@media (max-width: 375px) {
    .second-arr {
        right: 170px;
        top: 10px;
    }
}

@media (max-width: 325px) {
    .first-image, .second-image, .third-image {
        background-position: -60px -60px;
        background-size: 150%;
    }

    .prize-data_headerText {
        font-size: 13px;
    }

    .prize-data {
        font-size: 10px;
    }

    .footer-text {
        font-size: 20px;
    }

    .qna-title {
        font-size: 28px;
    }

    .shah-regImage {
        height: 345px;
        background-size: 400px;
    }

    .body-registrationBtn {
        height: 40px;
        font-size: 16px;
    }

    .registration-info_text {
        font-size: 18px;
    }

    .registration-text {
        font-size: 24px;
    }

    .dropdown-arr {
        top: 10px;
        right: 220px;
    }

    .second-arr {
        right: 120px;
    }
}