@font-face {
    font-family: Roboto;
    src: url("../fonts") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 900;
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
     font-family: Roboto;
    font-weight: 400;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}