@font-face {
    font-family: 'Manrope';
    font-weight: normal;
    src: url("Manrope-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: url("Manrope-Light.ttf") format('truetype');
}

@font-face {
    font-family: Manrope;
    font-weight: bold;
    src: url("Manrope-Bold.ttf") format('truetype');
}